# PostgreSQL Compose config
DATABASE_PORT=1201
DATABASE_PASSWORD=dummy

# Application
DATABASE__USER=chauffeur
DATABASE__PASSWORD=dummy
DATABASE__NAME=chauffeur
DATABASE__HOST=localhost
DATABASE__PORT=1201
MIGRATION__USER=chauffeur
MIGRATION__PASSWORD=dummy
MIGRATION__NAME=chauffeur
MIGRATION__HOST=localhost
MIGRATION__PORT=1201
MIGRATION__DIRECTORY=src/main/resources/db/migration
GOOGLE_CLOUD__MAPS_API_KEY=dummy
